<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Name</title>
    
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="/web/static/css/style.css">
</head>
<body>
    <!-- Barre de navigation -->
    <nav>
        <ul>
            <li>
                <a href="home.html">
                    <img class="logo" src="/web/static/images/logo.png" alt="Logo">
                </a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="predictions.html" target="_blank">Predictions</a></li>
            <li><a href="statistiques.html">Statistiques</a></li>
        </ul>
    </nav>   
    
    <!-- Image de fond -->
    <div class="background">
        <img src="/web/static/images/background_home.png" alt="Background Image">
    </div>
</body>

</html>
